.userCard {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;

  @media (min-width: 1170px) {
    width: 330px;
  }

  @media (max-width: 1169px) {
    width: 242px;
  }

  @media (max-width: 1024px) {
    width: 242px;
  }

  @media (max-width: 768px) {
    width: 304px;
  }

  @media (max-width: 360px) {
    width: 288px;
  }
}

.userPhoto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.userName {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userPosition {
  color: #000000DE;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userEmail,
.userPhone {
  color: #000000DE;
  margin: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emailContainer {
  position: relative;
  display: block;
  width: 100%;
}

.userEmail {
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  border-radius: 4px;
  position: fixed;
  background-color: #000000DE;
  color: #fff;
  padding: 4px 16px;
  pointer-events: none;
  transform: translate(-10%, 35%);
  white-space: nowrap;
  z-index: 1000;
  box-sizing: border-box;
}
