.mainContainer {
  margin-top: 140px;
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  h1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  button {
    margin-top: 50px;
  }

  @media (max-width: 2560px) {

  }

  @media (max-width: 1024px) {

  }

  @media (max-width: 768px) {

  }

  @media (max-width: 360px) {

  }
}

.usersContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media (min-width: 1024px) {
    gap: 28px;
  }
}
